.CartContainer{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.CartDiv{
    width: 70%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}
.CartShoppintTextContainer{
    width: 100%;
    font-size: 28px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(219, 214, 214);
}
.cartSubTotalContainer{
    width: 27%;
    height: 325px;
    padding: 20px;
    position: sticky;
    top: 82px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}