.EmptyCartContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.EmptyCartContainer>div{
    width: 600px;
    background-color: #fff;
    padding: 50px;
    margin-top: 50px;
    box-shadow: 0 0 10px black;
}
.EmptyCartDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 50px;
    /* border: 1px solid red; */
}
.EmptyCartDiv>img{
    width: 150px;
}
.EmptyCartDiv>h2{
    font-size: 40px;
}
.BackToShoppingDiv{
    text-align: center;
}
.BackToShoppingLink{
    text-decoration: none;
    color: rgb(51,51,51);
    font-size: 20px;
    font-weight: 600;
}
.BackToShoppingLink:hover{
    color: blue;
}