.HomeContainer{
    display: flex;
}
.SideBarFiltersContainer{
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    /* align-items: center; */
    border: 1px solid red;
}
.FilterButton{
    /* margin-right: 5px; */
    /* margin-bottom: 20px; */
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    background: transparent;
    cursor: pointer;
}
.FilterButton:hover {
    box-shadow: 3px 3px 3px 0px #000;
}
.active{
    background-color: black;
    color: aliceblue;
}
.ProductContainer{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10px;
    /* grid-row-gap: -50px; */
}
