.HomeContainer{
    display: flex;
    padding: 10px;
}
.SideBarFiltersContainer{
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
    background-color: #fff;
    position: sticky;
    top: 62px;
    margin-right: 10px;
}
.FilterButton{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    background: transparent;
    cursor: pointer;
}
.FilterButton:hover {
    box-shadow: 3px 3px 3px 0px #000;
}
.FilterButton.active{
    background-color: black;
    color: aliceblue;
}
.ProductContainer{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
