.PaymentContainer{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
.PaymentMethodContainer{
    padding: 20px;
    width: 65%;
    background-color: #fff;
}
.PaymentSelectTextDiv{
    width: 100%;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid rgb(219, 214, 214);
}
.PaymentMethodDiv{
    padding: 15px;
}
.PaymentMethodInputDiv{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.PaymentMethodInputDiv>input{
    margin-right: 20px;
    cursor: pointer;
}
.PaymentBtnDiv{
    display: none;
}
.PaymentBtnDiv.active{
    display: block;
}
.PaymentBtnDiv>button{
    padding: 10px 20px;
    margin-left: 40px;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: #e6b01a;
    font-size: 16px;
    cursor: pointer;
}
.PaymentBtnDiv>button:hover{
    background-color: #daa30e;
}

.PaymentTotalPriceContainer{
    width: 30%;
    padding: 10px;
    height: 230px;
    background-color: #fff;
}


/* Media Queries */


@media screen and (max-width: 768px) {
    .PaymentContainer{
        padding: 15px;
    }
    .PaymentSelectTextDiv{
        font-size: 20px;
    }
    .PaymentMethodContainer{
        padding: 10px;
        width: 58%;
    }
    .PaymentTotalPriceContainer{
        width: 40%;
    }
}

@media screen and (max-width: 520px) {
    .PaymentContainer{
        display: block;
    }
    .PaymentMethodContainer{
        width: 100%;
        margin-bottom: 10px;
    }
    .PaymentTotalPriceContainer{
        width: 100%;
    }
}

@media screen and (max-width: 310px) {
    .PaymentMethodDiv{
        padding: 10px;
    }
    .PaymentBtnDiv>button{
        margin-left: 20px;
        padding: 5px;
        font-size: 14px;
    }
}