.ThankYouContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.ThankYouDiv{
    width: 60%;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px black;
}
.ThankYouDiv>p{
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}
.ThankYouLink{
    font-size: 20px;
    text-decoration: none;
    color: rgb(51,51,51);
}
.ThankYouLink:hover{
    color: blue;
}


/* Media Queries */


@media screen and (max-width: 520px) {
    .ThankYouDiv{
        width: 90%;
    }
}

@media screen and (max-width: 360px) {
    .ThankYouContainer{
        padding: 10px;
        /* display: block; */
    }
    .ThankYouDiv{
        width: 100%;
        padding: 10px;
    }
    .ThankYouDiv>p{
        font-weight: 500;
        font-size: 28px;
    }
    .ThankYouLink{
        font-size: 16px;
    }
}