.NavbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(13, 13, 14);
    color: white;
    padding: 12px;
    position: sticky;
    top: 0;
}
.NavbarHomeLogo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-left: 5px;
}
.SearchBarContainer{
    display: flex;
    align-items: center;
    width: 350px;
    border-radius: 5px;
}
.SearchBarContainer>img{
    width: 38px;
    padding: 5px;
    background-color: rgba(230, 163, 41, 0.986);
    border-radius: 5px 0 0 5px;
    border-right: none;
}
#SearchBarInput{
    padding: 11px 15px;
    width: 100%;
    outline: none;
    border-radius: 0 5px 5px 0;
    border: none;
}
.NavProfileContainer{
    display: flex;
    align-items: center;
}
.NavSignOutBtn{
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}
.NavSignOutBtn:hover{
    color: blue;
}
.NavSignInLink{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.NavSignInLink:hover{
    color: blue;
}
.CartIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
.CartIconContainer>img{
    width: 25px;
}
.NavCartCount{
    position: absolute;
    right: 0.1rem;
    color: rgba(230, 163, 41, 0.986);
    font-size: 20px;
    top: -0.5em;
}
.NavMenubarBtn{
    display: none;
}
.NavMenubarBtn>img{
    width: 100%;
}


/* Media Queries */


@media screen and (max-width: 768px) {
    .NavbarContainer{
        padding: 10px;
    }
    .NavProfileContainer{
        display: none;
    }
    .NavLinkContainer{
        display: none;
    }
    .CartIconContainer{
        display: none;
    }
    .NavbarHomeLogo{
        margin-right: 0;
    }
    .SearchBarContainer>img{
        width: 32px;
    }
    #SearchBarInput{
        padding: 8px 10px;
    }
    .NavMenubarBtn{
        width: 30px;
        display: flex;
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
    }
}

@media screen and (max-width: 540px) {
    .NavbarHomeLogo{
        display: none;
    }
    .SearchBarContainer{
        width: 87%;
    }
}

@media screen and (max-width: 300px) {
    .SearchBarContainer>img{
        width: 28px;
    }
    #SearchBarInput{
        padding: 6px 10px;
    }
    .NavMenubarBtn{
        margin-right: -5px;
    }
}